/*.circles {
  width:100px;
  height: 100px;
  border: 2px solid black;
}*/

h2{
  text-align: center;
}

.topSpacing{
  margin-bottom: 50px;
}

.sideSpacing{
  margin-right: 20px;
}

.animate {
  -webkit-transform: scale(0.6);
  -webkit-transition-duration: 3s;
}

.badClick{
  background-color: blue;
}

.goodClick{
  background-color: green;
}

.perfectClick{
  background-color: gold;
}


#topLeft {
  width:100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 70px;
  margin-top: 217px;
  margin-left:19px;
  float: left;
  display: inline-block;
  position: relative;
  z-index: 0;
}

#topLeftAnim {
  width:140px;
  height: 140px;
  border: 2px solid black;
  border-radius: 109px;
  margin-top: 198px;
  margin-right:180px;
  visibility: hidden;
  position: relative;
  z-index: -1;
}

#topMiddle {
  width:100px;
  height: 100px;
  border-radius: 70px;
  border: 2px solid black;
  display: inline-block;
  margin-left: 30px;
  margin-top: 20px;
  float: left;
  position: relative;
  z-index: 0;
}

#topMiddleAnim{
  width:140px;
  height: 140px;
  border: 2px solid black;
  border-radius: 98px;
  margin-left: 10px;
  visibility: hidden;
  position: relative;
  z-index: -1;
}

#middleLeft {
  width:120px;
  height: 120px;
  border-radius: 80px;
  border: 2px solid black;
  display: inline-block;
  margin-left:23px;
  margin-top: 23px;
  float: left;
  position: relative;
  z-index: 0;
}

#middleLeftAnim{
  width:168px;
  height: 168px;
  border-radius: 112px;
  border: 2px solid black;
  visibility: hidden;
  position:relative;
  z-index: -1;
}

#mainCircle {
  width:250px;
  height: 250px;
  border-radius: 150px;
  border: 2px solid black;
  display: inline-block;
  float: left;
  margin-top: 50px;
  margin-left: 50px;
  position:relative;
  z-index: 0;
}

#mainAnim{
  width:350px;
  height: 350px;
  border-radius: 280px;
  border: 2px solid black;
  padding-right: 200px;
  visibility: hidden;
  position:relative;
  z-index: -1;
}

#smallCircle {
  width:60px;
  height: 60px;
  border-radius: 70px;
  border: 2px solid black;
  display: inline-block;
  margin-top: 161px;
  margin-left:32px;
  float: left;  
  position: relative;
  z-index: 0;
}

#smallCircleAnim{
  width:84px;
  height: 84px;
  border-radius: 98px;
  border: 2px solid black;
  margin-top: 150px;
  margin-left: 20px;
  visibility: hidden;
  position: relative;
  z-index: -1;
}